extends layout

block content
	h1 Catalog

	table
		tr
			th #
			th Title
			th Artist
			th Price
			th in stock
		each album, id in catalog
			tr
				td= id
				td
					a(href="/album/" + id) #{album.title}
				td= album.artist
				td= album.price
				td= album.instock
